name: Swift

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build
      run: swift build
    - name: Run tests
      run: swift test --enable-code-coverage
    
    - uses: codecov/codecov-action@v5
    - name: Upload coverage reports to Codecov
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
