name: Swift

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build
      run: swift build
    - name: Run tests
      run: |
        swift build \
          --build-tests \
          -c debug \
          -Xswiftc -warnings-as-errors \
          -Xswiftc -profile-generate \
          -Xswiftc -profile-coverage-mapping \
          --build-path .build-test-debug
        
        swift test \
          --skip-build \
          --enable-code-coverage \
          --build-path .build-test-debug
        xcrun llvm-cov show \
          -instr-profile=.build-test-debug/debug/codecov/default.profdata \
          .build-test-debug/debug/OpenSpatialTests.xctest/Contents/MacOS/OpenSpatialPackageTests \
          > coverage.txt
    
    - name: Upload coverage reports to Codecov
      uses: codecov/codecov-action@v5
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
